 <header>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            	{{ page.branding }}
          </div>
          <div class="col-md-8">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                 {{ page.navigatie }}
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <div class="maincontent">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            {{ page.content }}
          </div>
          <div class="col-md-4">
            {{ page.sidebar }}
          </div>
        </div>
      </div>
    </div>

    <div class="blok-van-3">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
           {{ page.ondermainlinks }}
          </div>

          <div class="col-md-4">
            {{ page.ondermainmidden }}
          </div>

          <div class="col-md-4">
            {{ page.ondermainrechts }}
          </div>
        </div>
      </div>
    </div>

    <div class="reclame">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
           {{ page.reclame }}
          </div>
        </div>
      </div>
    </div>

 <footer class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
           {{ page.footer1 }}
          </div>

          <div class="col-md-4">
            {{ page.footer2 }}
          </div>

          <div class="col-md-4">
            {{ page.footer3 }}
          </div>
        </div>
      </div>
    </div>
    <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 last-footer">
        {{ page.design }}
        </div>
      </div>
    </div>
  </footer>